<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="/img/jiny.jpg">
            </div>
            <div class="col-lg-9">
                <h1 class="display-3">JINYDEV</h1>
                <h2>다양한 IT기술관련 정보를 제공합니다. </h2>
                <p>개발에 관련된 시스템 및 도구 사용법과 프로그래밍에 대한 언어와 기법들에 대해서 같이 설명을 합니다. <br>
                    학습량이 많은 쳅터는 별도의 저장로 이동하여 제공합니다.<br>
                </p>

            </div>
        </div>
    </div>
</div>