---
layout: default
---
<header>
    
</header>
<br>
<!-- Page Content -->
<div class="container">
    {%- include breadcrumb.html -%}

    <div>
        <h1>Linux 운영체제</h1>
        <p>리눅스 기반의 개발환경 구축 및 서비스를 통하여 전반적인 리눅스 운영체제를 이해합니다.</p>
    </div>
    <br>

    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-9">
        	<main role="main">
                <section>
                    {{ content }}
                </section>        		
            </main>
        </div>

        <!-- Sidebar Column -->
        <div class="col-md-3">
        	<aside>
            	{%- include menu.html -%}
        	</aside>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->